
.DS_Store
.pio/build/project.checksum
.pio/build/seeed_xiao/.sconsign312.dblite
.pio/build/seeed_xiao/firmware.bin
.pio/build/seeed_xiao/firmware.elf
.pio/build/seeed_xiao/libFrameworkArduino.a
.pio/build/seeed_xiao/libFrameworkArduinoVariant.a
.pio/build/seeed_xiao/FrameworkArduino/abi.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/base64.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/cbuf.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/cortex_handlers.c.o
.pio/build/seeed_xiao/FrameworkArduino/delay.c.o
.pio/build/seeed_xiao/FrameworkArduino/hooks.c.o
.pio/build/seeed_xiao/FrameworkArduino/IPAddress.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/IPv6Address.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/itoa.c.o
.pio/build/seeed_xiao/FrameworkArduino/main.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/math_helper.c.o
.pio/build/seeed_xiao/FrameworkArduino/new.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/Print.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/pulse_asm.S.o
.pio/build/seeed_xiao/FrameworkArduino/pulse.c.o
.pio/build/seeed_xiao/FrameworkArduino/Reset.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/Retarget.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/SERCOM.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/startup.c.o
.pio/build/seeed_xiao/FrameworkArduino/Stream.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/StreamString.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/Tone.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/Uart.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/WInterrupts.c.o
.pio/build/seeed_xiao/FrameworkArduino/wiring_analog.c.o
.pio/build/seeed_xiao/FrameworkArduino/wiring_digital.c.o
.pio/build/seeed_xiao/FrameworkArduino/wiring_private.c.o
.pio/build/seeed_xiao/FrameworkArduino/wiring_pwm.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/wiring_shift.c.o
.pio/build/seeed_xiao/FrameworkArduino/wiring.c.o
.pio/build/seeed_xiao/FrameworkArduino/WMath.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/WString.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/USB/CDC.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/USB/PluggableUSB.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/USB/samd21_host.c.o
.pio/build/seeed_xiao/FrameworkArduino/USB/SAMD21_USBDevice.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/USB/USBCore.cpp.o
.pio/build/seeed_xiao/FrameworkArduino/avr/dtostrf.c.o
.pio/build/seeed_xiao/FrameworkArduino/libb64/cdecode.c.o
.pio/build/seeed_xiao/FrameworkArduino/libb64/cencode.c.o
.pio/build/seeed_xiao/FrameworkArduinoVariant/variant.cpp.o
.pio/build/seeed_xiao/lib8cd/libUSBHost.a
.pio/build/seeed_xiao/lib8cd/USBHost/adk.cpp.o
.pio/build/seeed_xiao/lib8cd/USBHost/hid.cpp.o
.pio/build/seeed_xiao/lib8cd/USBHost/hidboot.cpp.o
.pio/build/seeed_xiao/lib8cd/USBHost/hidescriptorparser.cpp.o
.pio/build/seeed_xiao/lib8cd/USBHost/hiduniversal.cpp.o
.pio/build/seeed_xiao/lib8cd/USBHost/KeyboardController.cpp.o
.pio/build/seeed_xiao/lib8cd/USBHost/message.cpp.o
.pio/build/seeed_xiao/lib8cd/USBHost/MouseController.cpp.o
.pio/build/seeed_xiao/lib8cd/USBHost/parsetools.cpp.o
.pio/build/seeed_xiao/lib8cd/USBHost/Usb.cpp.o
.pio/build/seeed_xiao/lib8cd/USBHost/usbhub.cpp.o
.pio/build/seeed_xiao/src/main.cpp.o
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
